*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family:'Titillium web', sans-serif;
}

header {
    background-image: url(./imagens/bg-mobile/img\ \(1\).svg);
    background-size: cover;
    height: ;
}